[alias]
	graph = !~/dotfiles/git-graph.sh
	g = !~/dotfiles/git-graph.sh
	st = status
	co = checkout
	diffr = diff --color-words --word-diff-regex='\\w+|[^[:space:]]'
	showr = show --color-words --word-diff-regex='\\w+|[^[:space:]]'
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[user]
	name = mstssk
	email = mstssk+github@gmail.com
[core]
	pager = less -SR
	excludesfile = ~/.global_ignore
[color]
	ui = auto
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[fetch]
	prune = true
[credential]
	helper = osxkeychain
